.promo {
  width: 100%;
  background-color: #37855d;
  padding: .5rem .4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.promo__slider {
  position: relative;
  padding: .5rem .4rem;
  width: 100%;
}

.promo__slider h5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 200;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.promo__slider h5 span {
  font-weight: 600;
  color: #fff;
  font-size: 0.8rem;
}

.promo__slider h5.active {
  opacity: 1;
  z-index: 1;
}


.navbar {
      border-bottom: #e5e7eb 1px solid;
}

.nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      align-items: center;
      padding: 20px 15px;
}

.nav-left {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.logo {
      width: 40%;
}

.logo img {
      width: 80%;
      height: auto;
}

.nav-center {
      width: 25%;
      display: flex;
      align-items: center;
      gap: 10px;
}

.close-menu {
      display: none;
}

.search-wrapper-responsive {
    display: none;
  }

.search-wrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  align-items: center;
  border: #e5e7eb 1px solid;
  border-radius: 25px;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-top: none;
  box-shadow: 0cqb 12px 15px -1px rgba(145,145,145,0.3);
  z-index: 10;
  max-height: 320px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
}

.suggestions-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 10px;
  font-size: .9rem;
  cursor: pointer;
  border-bottom: 1px solid #e5e7eb;
  transition: background-color 0.3s ease;
  width: 100%;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list li a {
      width: 100%;
}

.suggestion-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #333;
}

.suggestions-list img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}


.text {
      width: 100%;
      display: flex;
      gap: 1.5rem;
      align-items: center;
}

.search-bar input {
      width: 100%;
      padding: 0.6rem .6rem .6rem 1rem;
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 30px;
}

.search-bar input::placeholder {
      color: gray;
      font-size: 14px;
      font-weight: 400;
}

.search-bar button {
      /* width: 50px; */
      position: absolute;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 0 25px 25px 0;
      padding: 13px 15px 9px 10px;
      transition: all 0.3s ease;
}

.search-bar button i:hover {
      color: #72b7e4;
}

.search-bar button i {
      font-size: 1.4rem;
      color: #000;
      transition: color 0.3s ease;
}

.text p {
      color: #000;
      font-weight: 500;
      font-size: 15px;
      transition: color 0.3s ease;
}

.text p:hover {
      color: #72b7e4;
}

.nav-right {
      width: 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
}

.nav-center i {
      font-size: 1.7rem;
      font-weight: 100;
      color: #72b7e4;
      cursor: pointer;
}

.nav-icon  {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;
}

.nav-icon img {
      width: 32px;
      height: 32px;
}

.nav-icon .user-icon {
      width: 28px;
      height: 28px;
}

.cart {
      border-left: #72b7e4 1px solid;
      padding-left: 10px;
      position: relative;
}

.cart i {
      font-size: 1.9rem;
      color: #000;
      cursor: pointer;
}

.cart img {
      width: 31px;
      height: 25px;
      object-fit: cover;
}

.nb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #72b7e4;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -10px;
      right: -10px;
}

.nb span {
      color: #fff;
      font-size: 12px;
}

.burger-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  margin-top: 5px;
}


/* --- NAV BOTTOM --- */
.nav-bottom {
  background-color: #fff;
  position: relative;
  box-shadow: 0cqb 12px 15px -1px rgba(145,145,145,0.3);
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  padding: 20px 0px;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #1e1e24;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.nav-menu li:hover {
  color: #000;
}

.nav-menu li:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.nav-menu li.active::after {
  transform: translateX(-50%) scaleX(1);
}

/* Optionnel: style du texte actif */
.nav-menu li.active > a,
.respo-nav-menu a.active {
  font-weight: 700;
  color: #000;
}

.nav-menu ul h5 {
  font-size: 14px;
  font-weight: 700;
}


/* --- SUBMENU --- */

.submenu {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  pointer-events: none;
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  padding-right: 8px;
}

/* Pour Webkit (Chrome/Safari) */
.submenu::-webkit-scrollbar {
  width: 6px;
}
.submenu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.submenu.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.submenu-content {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  gap: 60px;
  padding: 0 10px;
}

.menu-column {
  display: flex;
  flex-direction: column;
}

.menu-column h4 {
  font-size: 13px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.menu-column a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.menu-column a:hover {
  color: #72b7e4;
}

.click-toggle {
      display: flex;
      align-items: center;
      gap: 0.2rem;
}

.click-toggle h5 {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  transition: transform 0.3s ease;
}

.click-toggle i {
  font-size: 1.4rem;
  color: #000;
  transition: transform 0.3s ease;
}

/* --- responsive nav-bottom --- */

.responsive-nav-bottom {
  display: none;
  width: 100%;
  position: relative;
}

.respo-nav-menu {
      padding: 10px 20px 10px 0px;
      width: 100%;
}

.respo-nav-menu ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.respo-nav-menu ul li {
      font-size: 14px;
      border-bottom: 1px solid #e7e7f0;
      padding-bottom: 10px;
}

.click-toggles {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      gap: 0.2rem;
      cursor: pointer;
}

.click-toggles h5 {
      font-size: 13.5px;
      font-weight: 700;
      color: #000;
      transition: transform 0.3s ease;
}

.click-toggles i {
      font-size: 1.5rem;
      color: #000;
      transition: transform 0.3s ease;
}

.respo-submenu {
  position: absolute;
  top: 10%;
  left: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  pointer-events: none;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  padding-right: 8px;
}

/* Pour Webkit (Chrome/Safari) */
.respo-submenu::-webkit-scrollbar {
  width: 6px;
}
.respo-submenu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.respo-submenu.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.respo-submenu-content {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  gap: 40px;
  padding: 0 10px;
  flex-wrap: wrap;
}

.menu-columns {
  display: flex;
  flex-direction: column;
}

.menu-columns h4 {
  font-size: 12px;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
}

.menu-columns a {
  text-decoration: none;
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.menu-columns a:hover {
  color: #72b7e4;
}

/* media query */

@media (min-width: 1201px) {
      
      .nav-center {
            opacity: 1 !important;
            transform: none !important;
            position: static;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            pointer-events: auto;
      }

      .nav-center .close-menu {
            display: none;
      }
}

@media (min-width: 1920px) {

      .container {
            max-width: 1400px;
            padding: 0 40px;
      }

      .navbar {
            padding: 20px 0;
      }

}

@media (max-width: 1200px) {

      .nav-container {
            padding: 10px 10px;
      }

      .nav-left {
            width: 80%;
            justify-content: space-between;
            align-items: center;
      }

      .burger-toggle {
            display: block;
      }

      .nav-center {
            position: absolute;
            top: 94px;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            border: 1px solid #e7e7f0;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 10px 10px;
            gap: 30px;
            opacity: 0;
            transform: translateX(-100%);
            pointer-events: none;
            transition: transform 0.4s ease, opacity 0.4s ease;
            max-height: 85vh;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #ccc transparent;
            padding-right: 2px;
      }

      .search-wrapper {
            width: 100%;
      }

      .search-bar {
            width: 100%;
      }

      .nav-center i {
            font-size: 1.5rem;
      }

      .nav-icon img {
            width: 25px;
            height: 25px;
      }

      .nav-icon .user-icon {
            width: 21px;
            height: 21px;
      }

      .nav-center.open {
            opacity: 1;
            transform: translateX(0);
            pointer-events: auto;
      }

      .nav-center .close-menu {
            display: block;
            position: absolute;
            right: 22px;
      }

      .nav-center .close-menu i {
            display: flex;
            justify-content: flex-end;
            font-size: 1.5rem;
            cursor: pointer;
            width: 100%;
            padding-right: 0px;
            color: #000;
      }

      .nav-menu {
            display: none;
      }

      .submenu {
            display: none !important;
      }

      .responsive-nav-bottom {
            display: block;
      }
}

@media (max-width: 800px) {

      .logo img {
            width: 90%;
            height: auto;
      }

      .suggestions-list li {
            font-size: .9rem;
      }

      .nav-center .close-menu i {
            font-size: 1.2rem;
      }

      .cart i {
            font-size: 1.5rem;
      }

      .cart img {
            width: 28px;
            height: 22px;
            object-fit: cover;
      }

      .nb span {
            color: #fff;
            font-size: 12px;
      }

      .burger-toggle {
            font-size: 1.4rem;
            margin-top: .5rem;
      }

      .nav-center .close-menu {
            right: 25px;
      }
}

@media (max-width: 700px) {

      .nav-left {
            width: 100%;
      }

      .logo {
            width: 45%;
      }

      .logo img {
            width: 80%;
            height: auto;
      }

      .search-wrapper {
            width: 55%;
      }

      .search-bar {
            width: 100%;
      }

      .search-bar button i {
            font-size: 1.2rem;
      }

      .nav-center .close-menu {
            right: 25px;
      }

}

@media (max-width: 600px) {

      .nav-center {
            top: 85px;
      }

  .search-wrapper {
    display: none;
  }

   .search-wrapper-responsive {
    display: block;
    position: relative;
  }

  .search-wrapper-responsive .i-search {
    background: transparent;
    border: none;
    margin-top: 6px;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .search-bar-container {
    display: none;
    background: #fff;
    padding: 2.4rem 1rem;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-top: 1px solid #eee;
    animation: fadeIn 0.3s ease;
  }

  .search-bar-container.show {
    display: block;
  }

  .search-button, .close-search {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .search-button, .close-search i {
    color: #000;
    position: absolute;
    top: -35px;
    right: 10px;
  }

  .suggestions-list {
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    top: 90%;
  }

  .suggestions-list li {
            font-size: .8rem;
      }

  .suggestion-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.25rem 0;
  }

  .suggestion-item img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 4px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 500px) {

      .promo__slider {
            padding: .8rem .3rem;
      }

      .promo__slider h5 {
            font-size: 0.6rem;
      }

      .promo__slider h5 span {
            font-size: 0.6rem;
      }

      .logo img {
            width: 100%;
            height: auto;
      }

      .nav-center {
            top: 90px;
      }

      .search-bar input {
            padding: 0.6rem .5rem .6rem .8rem;
            font-size: .8rem;
      }

      .search-bar input::placeholder {
            font-size: 11px;
      }

      .search-bar button i {
            font-size: 1.1rem;
      }

      .nav-center i {
            font-size: 1.3rem;
      }

      .nav-icon img {
            width: 22px;
            height: 22px;
      }

      .nav-icon .user-icon {
            width: 20px;
            height: 20px;
      }

      .text p {
            font-size: 12px;
      }

      .nav-center .close-menu {
            right: 14px;
      }

      .nav-center .close-menu i {
            font-size: 1rem;
      }

      .cart i {
            font-size: 1.1rem;
      }

      /* .cart img {
            width: 31px;
            height: 25px;
      } */

      .nb {
            width: 15px;
            height: 15px;
            top: -8px;
            right: -10px;
      }

      .nb span {
            font-size: 10px;
      }

      .burger-toggle {
            font-size: 1.1rem;
      }

      .respo-nav-menu {
            padding: 10px 10px 10px 0px;
            width: 100%;
      }

      .respo-nav-menu ul li {
            font-size: 13px;
            padding-bottom: 5px;
      }

      .respo-nav-menu ul h5 {
            font-size: 12px;
            font-weight: 700;
      }

      .search-wrapper-responsive .i-search {
            font-size: 1rem;
            margin-top: 3px;
            color: #000;
      }

      .search-bar-container {
            padding: 2rem 1rem;
            top: 90px;
      }

      .search-button, .close-search i {
            top: -27px;
            right: 13px;
      }

}

@media (max-width: 450px) {

      .promo__slider h5 {
            font-size: 0.8rem;
      }

      .promo__slider h5 span {
            font-size: 0.7rem;
      }

      .logo img {
            width: 165px;
      }

      .cart i {
            font-size: 1.5rem;
      }

      /* .cart img {
            width: 31px;
            height: 25px;
      } */

      .burger-toggle {
            font-size: 1.4rem;
      }

      .search-wrapper-responsive .i-search {
            font-size: 1.2rem;
            margin-top: .4rem;
      }

      .nav-center .close-menu i {
            font-size: 1.2rem;
      }

      .search-button, .close-search i {
            top: -35px;
            right: 13px;
      }

}

@media (max-width: 400px) {

      .logo img {
            width: 150px;
      }

      .suggestion-item img {
            width: 22px;
            height: 22px;
      }
}




